*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
npm-debug.log
/node_modules
client
__node__
deploy/.installed.cfg
deploy/bin/*
deploy/eggs/*
deploy/etc/supervisord-dev.conf
deploy/etc/supervisord.conf
tags

# keep seed file for ad config
!/scripts/az-banners-all-sites.csv
