@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
