@import 'globals';

.ad * {
  box-sizing: content-box;
}

.ad a {
  display: block;
  margin-bottom: 0 !important;
}

.ad img,
.ad object {
  @include media('>desktop-laptop') {
    display: block;
  }
}

.ad--skyscraper {
  @include media('<=advertising-skyscraper') {
    display: none;
  }

  @include media('>advertising-skyscraper') {
    position: absolute;
    height: 600px;
    width: 300px;
    right: 10px;
    top: auto;
  }
}

// scss-lint:disable SelectorFormat, IdSelector

#content_board,
#top_board,
#bottom_board {
  @include edges('pull');

  @include media('>tablet-landscape') {
    margin-left: 0;
    margin-right: 0;
  }

  @include media('<=desktop-laptop') {
    text-align: center;

    > div,
    > a {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#top_board {
  @include media('<=mobile-portrait') {
    margin-bottom: 30px;
  }

  @include media('>mobile-portrait') {
    margin-bottom: 40px;
  }
}

#content_board {
  @include media('<=mobile-portrait') {
    width: calc(100% + #{(2 * $container-spacing)});
  }

  @include media('>mobile-portrait') {
    width: calc(100% + #{(4 * $container-spacing)});
  }
}

#bottom_board {
  @include media('<=mobile-portrait') {
    margin-top: 30px;
  }

  @include media('>mobile-portrait') {
    margin-top: 40px;
  }
}

#rectangle {
  width: 320px;
  height: 250px;
  background-color: #f90;
  margin-bottom: 27px;

  @include media('<=mobile-portrait') {
    margin-left: auto;
    margin-right: auto;
  }

  @include media('>mobile-portrait') {
    margin-top: 20px;
    margin-left: 27px;
    float: right;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  &.is-below-sidebar {
    @include media('>desktop-laptop') {
      margin-right: -220px;
    }
  }
}

/**
 * Hacking layout for when a rectangle ad immediately follows a floated enrichment
 */
.enrichment--aside + div #rectangle:first-child {
  margin-top: 6px;
  margin-bottom: 35px;

  @include media('>mobile-portrait') {
    float: none;
    position: relative;
    top: 6px;
    left: 300px;
  }

  @include media('>mobile-portrait', '<=desktop-laptop') {
    margin-right: -$container-spacing * 2;
  }

  @include media('>mobile-portrait', '<=700px') {
    margin-left: 0;
    left: 270px;
  }

  @include media('>900px', '<=1150px') {
    left: 200px;
  }

  @include media('>1275px') {
    left: 200px;
  }
}

// scss-lint:enable SelectorFormat, IdSelector
