@import 'globals';

body {
  font: 100% / 1.5 $text-font-stack;
  color: $black;
  overflow-x: hidden;

  @include media('<=medium') {
    padding-top: 80px;
  }

  @include media('>medium') {
    padding-top: 150px;
  }
}

@include media('<=medium') {
  .is-menu-open {
    height: 100%;
    overflow: hidden;
  }

  body::after {
    content: '';
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 75;
  }

  .is-menu-open body::after {
    display: block;
  }
}

code {
  font-family: $code-font-stack;
}

table {
  text-align: left;

  @include media('>small') {
    width: 100%;
    table-layout: fixed;
  }
}

thead {
  border-bottom: 1px solid $light-grey;
}

th {
  text-transform: capitalize;
}

td, th {
  padding: 5px 20px 5px 0;
}

/**
 * Remove dirty outline when using Flickity
 */
.flickity-enabled {
  outline: none;
}
