@import 'globals';

body {
  font: 125% / 1.4 $text-font-stack;
  color: $black;

  @include media('>=small') {
    height: 100vh;
  }

  > div {
    height: 100%;
  }
}

h1 {
  font-family: $headline-font-stack;
}
