@import 'globals';

body {
  font: 100% / 1.5 $text-font-stack;
  color: $black;
}

code {
  font-family: $code-font-stack;
}

table {
  text-align: left;

  @include media('>small') {
    width: 100%;
    table-layout: fixed;
  }
}

thead {
  border-bottom: 1px solid $light-grey;
}

th {
  text-transform: capitalize;
}

td, th {
  padding: 5px 20px 5px 0;
}
