@import 'globals';

body {
  font: 100% / 1.5 $text-font-stack;
  color: $black;
}

/**
 * Give the absolutely-positioned navigation some room
 */
html:not(.lte-ie9) body {
  @include media('<=tablet-portrait') {
    padding-top: 100px;
  }

  @include media('>tablet-portrait') {
    padding-top: 200px;
  }
}

@include media('<=tablet-portrait') {
  .is-menu-open,
  .is-menu-open body {
    height: 100%;
    overflow: hidden;
  }

  body::after {
    content: '';
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $light-grey;
    z-index: 75;
  }

  .is-menu-open body::after {
    display: block;
  }
}

code {
  font-family: $code-font-stack;
}

table {
  text-align: left;

  @include media('>mobile-portrait') {
    width: 100%;
    table-layout: fixed;
  }
}

thead {
  border-bottom: 1px solid $light-grey;
}

th {
  text-transform: capitalize;
}

td, th {
  padding: 5px 20px 5px 0;
}

iframe {
  display: block;
}

/**
 * Remove dirty outline when using Flickity
 */
.flickity-enabled {
  outline: none;
}
