@import 'globals';

/**
 * This file contains all styles applied to children of *copy* sections. Copy
 * sections are sections containing user-generated content such as CMS entries,
 * READMEs and comments.
 */

/**
 * Links in copy sections
 * 1. Remove default underline to have a better one with a gradient
 * 2. Fake the underline with a gradient to have control over position and size
 */
.copy a {
  color: $blue;
  text-decoration: none; /* 1 */
  background: linear-gradient(to bottom, currentcolor, currentcolor) no-repeat bottom; /* 2 */
  background-size: 100% 1px;
  
  &:active,
  &:hover {
    color: $baby-blue;
  }

  &:visited {
    color: $medium-grey;
  }
}

.copy h1 {
  @include type-h1;
  margin-bottom: 40px;
}

.copy h1 + p {
  @include type-intro;
}

.copy h2 {
  @include type-h2;
}

.copy h3 {
  @include type-h3;
}

.copy h4 {
  @include type-h4;
}

.copy p,
.copy ul,
.copy ol {
  @include type-copy;
  margin-bottom: 20px;
}

.copy blockquote {
  @include type-blockquote;
}
