@import 'globals';

/**
 * This file contains CSS helper classes to apply specific styles to elements
 */

.type-intro {
  @include type-intro;
}

.type-copy {
  @include type-copy;
}

.type-copy-alternate {
  @include type-copy-alternate;
}

.type-h1 {
  @include type-h1;
}

.type-h2 {
  @include type-h2;
}

.type-h3 {
  @include type-h3;
}

.type-h4 {
  @include type-h4;
}

.type-catchword {
  @include type-catchword;
}

.type-blockquote {
  @include type-blockquote;
}

.type-caption {
  @include type-caption;
}

.type-detail {
  @include type-detail;
}

.hidden-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
}

// From http://stackoverflow.com/a/17980063
// But, this one is still focusable (for form fields)
// Increased specificity for form inputs
body .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: auto;
}
