// scss-lint:disable SelectorFormat
// We might need to rewrite the way störers are implemented in ordered to have
// better HTML classes such as:
// .stoerer {}
// .stoerer--left {}
// .stoerer--right {}
// .stoerer__title {}
// .stoerer__body {}

@import 'globals';

$stoerer-width: 300px;
$stoerer-offset: $stoerer-width / 2;
$stoerer-breakpoint: 800px + $stoerer-offset;

/**
 * Störer
 * 1. Extra top padding is meant to give extra room to the border
 *    Should match `height` of `&::before`
 * 2. Negative horizontal margin to capture the edge of the screen
 * 3. Position context for pseudo-element border
 */
.copy .stoerer {
  background-color: $light-grey;
  padding: 14px 12px 12px; /* 1 */
  margin: 24px -12px; /* 2 */
  position: relative; /* 3 */

  /**
   * Störer on large screens 
   * 1. Extra margin, negative horizontal to “pop out”
   * 2. Extra padding for full-width störers
   */
  @include media('>small') {
    margin: 40px -40px; /* 1 */
    padding: 40px; /* 2 */
  }

  /**
   * Not-full width border, hacked with a pseudo-element
   */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 12px;
    right: 12px;
    height: 4px;
    background-color: $yellow;
    
    /**
     * Adapt to new padding on large screens
     */
    @include media('>small') {
      left: 40px;
      right: 40px;
    }
  }

  /**
   * Prevent a weird gap at the bottom
   */
  p:last-of-type {
    margin-bottom: 0;
  }
}

/**
 * Störer title
 */
.copy .stoerer .text-title {
  @include type-h4;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: $supporting-font-stack;
}

/**
 * Störer content
 * 1. Slightly smaller than core text
 */
.copy .stoerer p,
.copy .stoerer li {
  font-family: $supporting-font-stack;
  font-size: 16px; /* 1 */
}

/**
 * Make sure all right and left störers are left floated on large screens as
 * we try to get rid of right floated störers
 * 1. Top margin is basically a magic number to align to text here
 * 2. This width is hardcoded to match the usual ads we have
 */
.copy .stoerer_li,
.copy .stoerer_re {
  @include media('>small') {
    float: left;
    padding: 20px;
    margin: 6px 30px 30px 0; /* 1 */
    width: 300px; /* 2 */

    /**
     * Adapt to updated padding
     */
    &::before {
      left: 20px;
      right: 20px;
    }
  }
  
  /**
   * When there is room for negative offset, do it
   */
  @include media('>#{$stoerer-breakpoint}') {
    margin-left: -$stoerer-offset;
  }
}

// scss-lint:enable SelectorFormat
