// Import component-specific variables
@import 'utilities/variables';

.my-component {
  color: #f00;

  // Use the `respond-to` mixin to use a global breakpoint
  @include respond-to('small') {
    color: #f0f;
  }

  // Use the `respond-to` mixin to use a component-specific breakpoint
  @include respond-to((min-height: 500px)) {
    height: 550px;
  }
}

