/**
 * 1. Applying a proper box-model to the root element
 *    From: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 *    From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L11-L12
 */
html {
  box-sizing: border-box;
  /* 1 */
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  /* 2 */
}

/**
 * Massive "barbarian" reset on all elements and pseudo-elements
 * 1. Inherit `box-sizing` from parent element, useful for third-party
 *    component built on another box-model
 * 2. No padding, ni margin, no border; deal with it
 */
*, ::after, ::before {
  box-sizing: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 2 */
  border: 0;
  /* 2 */
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L33-L47
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L77-L80
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L89-L91
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L162-L176
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L193-L195
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L252-L258
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L290-L296
 * 1. Kept only `button` because other selectors are to be avoided
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L302-L305
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L311-L315
 * Remove inner padding and border in Firefox 4+.
 * 1. Custom addition to involve `select` as well
 */
select::-moz-focus-inner, button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L322-L324
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L356-L357
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L367-L370
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L396-L398
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * From: https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/normalize.css#L416-L419
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.my-component {
  color: #f00;
}

@media (min-width: 767px) {
  .my-component {
    color: #f0f;
  }
}

@media (min-height: 500px) {
  .my-component {
    height: 550px;
  }
}

body {
  background: yellow;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJhc2UvX3Jlc2V0LnNjc3MiLCJzYW1wbGUvc3R5bGVzaGVldHMvbWFpbi5zY3NzIiwidXRpbGl0aWVzL19taXhpbnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFLQTs7Ozs7O0dBTUE7QUFDQSxJQUFBLENBQUE7RUFDQSxVQUFBLEVBQUEsVUFBQTtFQUFBLE9BQUE7RUFDQSxnQkFBQSxFQUFBLElBQUE7RUFBQSxPQUFBO0NBRkE7O0FBS0E7Ozs7O0dBS0E7QUFDQSxDQUFBLEVBQUEsT0FBQSxFQUFBLFFBQUEsQ0FBQTtFQUNBLFVBQUEsRUFBQSxPQUFBO0VBQUEsT0FBQTtFQUNBLE1BQUEsRUFBQSxDQUFBO0VBQUEsT0FBQTtFQUNBLE9BQUEsRUFBQSxDQUFBO0VBQUEsT0FBQTtFQUNBLE1BQUEsRUFBQSxDQUFBO0VBQUEsT0FBQTtDQUpBOztBQU9BOzs7Ozs7R0FNQTtBQUNBLE9BQUEsRUFBQSxLQUFBLEVBQUEsT0FBQSxFQUFBLFVBQUEsRUFBQSxNQUFBLEVBQUEsTUFBQSxFQUFBLE1BQUEsRUFBQSxNQUFBLEVBQUEsSUFBQSxFQUFBLElBQUEsRUFBQSxHQUFBLEVBQUEsT0FBQSxFQUFBLE9BQUEsQ0FBQTtFQUNBLE9BQUEsRUFBQSxLQUFBO0NBREE7O0FBS0E7Ozs7R0FJQTtDQUVBLE1BQUE7QUFDQSxRQUFBLENBREE7RUFDQSxPQUFBLEVBQUEsSUFBQTtDQURBOztBQUlBOzs7R0FHQTtBQUNBLENBQUEsQ0FBQTtFQUNBLGdCQUFBLEVBQUEsV0FBQTtDQURBOztBQUlBOzs7R0FHQTtBQUVBLEdBQUE7QUFDQSxHQUFBLENBREE7RUFDQSxTQUFBLEVBQUEsR0FBQTtFQUNBLFdBQUEsRUFBQSxDQUFBO0VBQ0EsUUFBQSxFQUFBLFFBQUE7RUFDQSxjQUFBLEVBQUEsUUFBQTtDQUpBOztBQU9BLEdBQUEsQ0FBQTtFQUNBLEdBQUEsRUFBQSxNQUFBO0NBREE7O0FBSUEsR0FBQSxDQUFBO0VBQ0EsTUFBQSxFQUFBLE9BQUE7Q0FEQTs7QUFJQTs7O0dBR0E7QUFDQSxHQUFBLEtBQUEsS0FBQSxFQUFBO0VBQ0EsUUFBQSxFQUFBLE1BQUE7Q0FEQTs7QUFLQTs7Ozs7R0FLQTtBQUtBLE1BQUE7QUFDQSxLQUFBO0FBQ0EsUUFBQTtBQUNBLE1BQUE7QUFDQSxRQUFBLENBSkE7RUFDQSxLQUFBLEVBQUEsT0FBQTtFQUFBLE9BQUE7RUFDQSxJQUFBLEVBQUEsT0FBQTtFQUFBLE9BQUE7Q0FGQTs7QUFLQTs7Ozs7O0dBTUE7QUFDQSxNQUFBLENBQUE7RUFDQSxrQkFBQSxFQUFBLE1BQUE7RUFBQSxPQUFBO0VBQ0EsTUFBQSxFQUFBLE9BQUE7RUFBQSxPQUFBO0NBRkE7O0FBS0E7OztHQUdBO0FBRUEsTUFBQSxDQUFBLFFBQUE7QUFDQSxJQUFBLENBQUEsS0FBQSxDQUFBLFFBQUEsRUFEQTtFQUNBLE1BQUEsRUFBQSxPQUFBO0NBREE7O0FBSUE7Ozs7R0FJQTtBQUdBLE1BQUEsa0JBQUEsRUFBQSxNQUFBLGtCQUFBO0FBQ0EsS0FBQSxrQkFBQSxDQURBO0VBQ0EsTUFBQSxFQUFBLENBQUE7RUFDQSxPQUFBLEVBQUEsQ0FBQTtDQUZBOztBQUtBOzs7O0dBSUE7QUFDQSxLQUFBLENBQUE7RUFDQSxXQUFBLEVBQUEsTUFBQTtDQURBOztBQUlBOzs7R0FHQTtBQUNBLEtBQUEsQ0FBQSxJQUFBLENBQUEsUUFBQSxFQUFBO0VBQ0Esa0JBQUEsRUFBQSxTQUFBO0VBQUEsT0FBQTtDQURBOztBQUlBOzs7OztHQUtBO0FBRUEsS0FBQSxDQUFBLElBQUEsQ0FBQSxRQUFBLENBQUEsOEJBQUE7QUFDQSxLQUFBLENBQUEsSUFBQSxDQUFBLFFBQUEsQ0FBQSwyQkFBQSxDQURBO0VBQ0Esa0JBQUEsRUFBQSxJQUFBO0NBREE7O0FBSUE7OztHQUdBO0FBQ0EsUUFBQSxDQUFBO0VBQ0EsUUFBQSxFQUFBLElBQUE7Q0FEQTs7QUFJQTs7O0dBR0E7QUFDQSxLQUFBLENBQUE7RUFDQSxlQUFBLEVBQUEsUUFBQTtFQUNBLGNBQUEsRUFBQSxDQUFBO0NBRkE7O0FDOUtBLGFBQUEsQ0FBQTtFQUNBLEtBQUEsRUFBQSxJQUFBO0NBREE7O0FDNEJBLE1BQUEsRUFBQSxTQUFBLEVBQUEsS0FBQTtFRDVCQSxhQUFBLENBQUE7SUFLQSxLQUFBLEVBQUEsSUFBQTtHQUxBOzs7QUM0QkEsTUFBQSxFQUFBLFVBQUEsRUFBQSxLQUFBO0VENUJBLGFBQUEsQ0FBQTtJQVVBLE1BQUEsRUFBQSxLQUFBO0dBVkE7OztBQWNBLElBQUEsQ0FBQTtFQUNBLFVBQUEsRUFBQSxNQUFBO0NBREEiLCJmaWxlIjoic3R5bGVzLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG4vLyBUaGlzIHJlc2V0IGlzIGEgbWl4IG9mIEVyaWMgTWV5ZXIncyByZXNldCwgTm9ybWFsaXplLmNzcyBhbmQgY3VzdG9tIHJ1bGVzLlxuLy8gRXZlcnl0aGluZyBzaG91bGQgYmUgcHJvcGVybHkgZG9jdW1lbnRlZCBhbmQganVzdGlmaWVkLiAgICAgICAgICAgICAgICAgICBcbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG5cbi8qKlxuICogMS4gQXBwbHlpbmcgYSBwcm9wZXIgYm94LW1vZGVsIHRvIHRoZSByb290IGVsZW1lbnRcbiAqICAgIEZyb206IGh0dHBzOi8vY3NzLXRyaWNrcy5jb20vaW5oZXJpdGluZy1ib3gtc2l6aW5nLXByb2JhYmx5LXNsaWdodGx5LWJldHRlci1iZXN0LXByYWN0aWNlL1xuICogMi4gUHJldmVudCBpT1MgYW5kIElFIHRleHQgc2l6ZSBhZGp1c3QgYWZ0ZXIgZGV2aWNlIG9yaWVudGF0aW9uIGNoYW5nZSxcbiAqICAgIHdpdGhvdXQgZGlzYWJsaW5nIHVzZXIgem9vbS5cbiAqICAgIEZyb206IGh0dHBzOi8vZ2l0aHViLmNvbS9uZWNvbGFzL25vcm1hbGl6ZS5jc3MvYmxvYi8yYmRkYTg0MjcyNjUwYWVkZmI0NWQ4YWJlMTFhNmQxNzc5MzNhODAzL25vcm1hbGl6ZS5jc3MjTDExLUwxMlxuICovXG5odG1sIHsgXG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7IC8qIDEgKi9cbiAgdGV4dC1zaXplLWFkanVzdDogMTAwJTsgLyogMiAqL1xufVxuXG4vKipcbiAqIE1hc3NpdmUgXCJiYXJiYXJpYW5cIiByZXNldCBvbiBhbGwgZWxlbWVudHMgYW5kIHBzZXVkby1lbGVtZW50c1xuICogMS4gSW5oZXJpdCBgYm94LXNpemluZ2AgZnJvbSBwYXJlbnQgZWxlbWVudCwgdXNlZnVsIGZvciB0aGlyZC1wYXJ0eVxuICogICAgY29tcG9uZW50IGJ1aWx0IG9uIGFub3RoZXIgYm94LW1vZGVsXG4gKiAyLiBObyBwYWRkaW5nLCBuaSBtYXJnaW4sIG5vIGJvcmRlcjsgZGVhbCB3aXRoIGl0XG4gKi9cbiosIDo6YWZ0ZXIsIDo6YmVmb3JlIHtcbiAgYm94LXNpemluZzogaW5oZXJpdDsgLyogMSAqL1xuICBtYXJnaW46IDA7IC8qIDIgKi9cbiAgcGFkZGluZzogMDsgLyogMiAqL1xuICBib3JkZXI6IDA7IC8qIDIgKi9cbn1cblxuLyoqXG4gKiBGcm9tOiBodHRwczovL2dpdGh1Yi5jb20vbmVjb2xhcy9ub3JtYWxpemUuY3NzL2Jsb2IvMmJkZGE4NDI3MjY1MGFlZGZiNDVkOGFiZTExYTZkMTc3OTMzYTgwMy9ub3JtYWxpemUuY3NzI0wzMy1MNDdcbiAqIENvcnJlY3QgYGJsb2NrYCBkaXNwbGF5IG5vdCBkZWZpbmVkIGZvciBhbnkgSFRNTDUgZWxlbWVudCBpbiBJRSA4LzkuXG4gKiBDb3JyZWN0IGBibG9ja2AgZGlzcGxheSBub3QgZGVmaW5lZCBmb3IgYGRldGFpbHNgIG9yIGBzdW1tYXJ5YCBpbiBJRSAxMC8xMVxuICogYW5kIEZpcmVmb3guXG4gKiBDb3JyZWN0IGBibG9ja2AgZGlzcGxheSBub3QgZGVmaW5lZCBmb3IgYG1haW5gIGluIElFIDExLlxuICovXG5hcnRpY2xlLCBhc2lkZSwgZGV0YWlscywgZmlnY2FwdGlvbiwgZmlndXJlLCBmb290ZXIsIGhlYWRlciwgaGdyb3VwLCBtYWluLCBtZW51LCBuYXYsIHNlY3Rpb24sIHN1bW1hcnkge1xuICBkaXNwbGF5OiBibG9jaztcbn1cblxuXG4vKipcbiAqIEZyb206IGh0dHBzOi8vZ2l0aHViLmNvbS9uZWNvbGFzL25vcm1hbGl6ZS5jc3MvYmxvYi8yYmRkYTg0MjcyNjUwYWVkZmI0NWQ4YWJlMTFhNmQxNzc5MzNhODAzL25vcm1hbGl6ZS5jc3MjTDc3LUw4MFxuICogQWRkcmVzcyBgW2hpZGRlbl1gIHN0eWxpbmcgbm90IHByZXNlbnQgaW4gSUUgOC85LzEwLlxuICogSGlkZSB0aGUgYHRlbXBsYXRlYCBlbGVtZW50IGluIElFIDgvOS8xMC8xMSwgU2FmYXJpLCBhbmQgRmlyZWZveCA8IDIyLlxuICovXG5baGlkZGVuXSxcbnRlbXBsYXRlIHtcbiAgZGlzcGxheTogbm9uZTtcbn1cblxuLyoqXG4gKiBGcm9tOiBodHRwczovL2dpdGh1Yi5jb20vbmVjb2xhcy9ub3JtYWxpemUuY3NzL2Jsb2IvMmJkZGE4NDI3MjY1MGFlZGZiNDVkOGFiZTExYTZkMTc3OTMzYTgwMy9ub3JtYWxpemUuY3NzI0w4OS1MOTFcbiAqIFJlbW92ZSB0aGUgZ3JheSBiYWNrZ3JvdW5kIGNvbG9yIGZyb20gYWN0aXZlIGxpbmtzIGluIElFIDEwLlxuICovXG5hIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG59XG5cbi8qKlxuICogRnJvbTogaHR0cHM6Ly9naXRodWIuY29tL25lY29sYXMvbm9ybWFsaXplLmNzcy9ibG9iLzJiZGRhODQyNzI2NTBhZWRmYjQ1ZDhhYmUxMWE2ZDE3NzkzM2E4MDMvbm9ybWFsaXplLmNzcyNMMTYyLUwxNzZcbiAqIFByZXZlbnQgYHN1YmAgYW5kIGBzdXBgIGFmZmVjdGluZyBgbGluZS1oZWlnaHRgIGluIGFsbCBicm93c2Vycy5cbiAqL1xuc3ViLFxuc3VwIHtcbiAgZm9udC1zaXplOiA3NSU7XG4gIGxpbmUtaGVpZ2h0OiAwO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHZlcnRpY2FsLWFsaWduOiBiYXNlbGluZTtcbn1cblxuc3VwIHtcbiAgdG9wOiAtMC41ZW07XG59XG5cbnN1YiB7XG4gIGJvdHRvbTogLTAuMjVlbTtcbn1cblxuLyoqXG4gKiBGcm9tOiBodHRwczovL2dpdGh1Yi5jb20vbmVjb2xhcy9ub3JtYWxpemUuY3NzL2Jsb2IvMmJkZGE4NDI3MjY1MGFlZGZiNDVkOGFiZTExYTZkMTc3OTMzYTgwMy9ub3JtYWxpemUuY3NzI0wxOTMtTDE5NVxuICogQ29ycmVjdCBvdmVyZmxvdyBub3QgaGlkZGVuIGluIElFIDkvMTAvMTEuXG4gKi9cbnN2Zzpub3QoOnJvb3QpIHtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbn1cblxuXG4vKipcbiAqIEZyb206IGh0dHBzOi8vZ2l0aHViLmNvbS9uZWNvbGFzL25vcm1hbGl6ZS5jc3MvYmxvYi8yYmRkYTg0MjcyNjUwYWVkZmI0NWQ4YWJlMTFhNmQxNzc5MzNhODAzL25vcm1hbGl6ZS5jc3MjTDI1Mi1MMjU4XG4gKiAxLiBDb3JyZWN0IGNvbG9yIG5vdCBiZWluZyBpbmhlcml0ZWQuXG4gKiAgICBLbm93biBpc3N1ZTogYWZmZWN0cyBjb2xvciBvZiBkaXNhYmxlZCBlbGVtZW50cy5cbiAqIDIuIENvcnJlY3QgZm9udCBwcm9wZXJ0aWVzIG5vdCBiZWluZyBpbmhlcml0ZWQuXG4gKi9cbmJ1dHRvbixcbmlucHV0LFxub3B0Z3JvdXAsXG5zZWxlY3QsXG50ZXh0YXJlYSB7XG4gIGNvbG9yOiBpbmhlcml0OyAvKiAxICovXG4gIGZvbnQ6IGluaGVyaXQ7IC8qIDIgKi9cbn1cblxuLyoqXG4gKiBGcm9tOiBodHRwczovL2dpdGh1Yi5jb20vbmVjb2xhcy9ub3JtYWxpemUuY3NzL2Jsb2IvMmJkZGE4NDI3MjY1MGFlZGZiNDVkOGFiZTExYTZkMTc3OTMzYTgwMy9ub3JtYWxpemUuY3NzI0wyOTAtTDI5NlxuICogMS4gS2VwdCBvbmx5IGBidXR0b25gIGJlY2F1c2Ugb3RoZXIgc2VsZWN0b3JzIGFyZSB0byBiZSBhdm9pZGVkXG4gKiAyLiBDb3JyZWN0IGluYWJpbGl0eSB0byBzdHlsZSBjbGlja2FibGUgYGlucHV0YCB0eXBlcyBpbiBpT1MuXG4gKiAzLiBJbXByb3ZlIHVzYWJpbGl0eSBhbmQgY29uc2lzdGVuY3kgb2YgY3Vyc29yIHN0eWxlIGJldHdlZW4gaW1hZ2UtdHlwZVxuICogICAgYGlucHV0YCBhbmQgb3RoZXJzLlxuICovXG5idXR0b24gLyogMSAqLyB7XG4gIC13ZWJraXQtYXBwZWFyYW5jZTogYnV0dG9uOyAvKiAyICovXG4gIGN1cnNvcjogcG9pbnRlcjsgLyogMyAqL1xufVxuXG4vKipcbiAqIEZyb206IGh0dHBzOi8vZ2l0aHViLmNvbS9uZWNvbGFzL25vcm1hbGl6ZS5jc3MvYmxvYi8yYmRkYTg0MjcyNjUwYWVkZmI0NWQ4YWJlMTFhNmQxNzc5MzNhODAzL25vcm1hbGl6ZS5jc3MjTDMwMi1MMzA1XG4gKiBSZS1zZXQgZGVmYXVsdCBjdXJzb3IgZm9yIGRpc2FibGVkIGVsZW1lbnRzLlxuICovXG5idXR0b25bZGlzYWJsZWRdLFxuaHRtbCBpbnB1dFtkaXNhYmxlZF0ge1xuICBjdXJzb3I6IGRlZmF1bHQ7XG59XG5cbi8qKlxuICogRnJvbTogaHR0cHM6Ly9naXRodWIuY29tL25lY29sYXMvbm9ybWFsaXplLmNzcy9ibG9iLzJiZGRhODQyNzI2NTBhZWRmYjQ1ZDhhYmUxMWE2ZDE3NzkzM2E4MDMvbm9ybWFsaXplLmNzcyNMMzExLUwzMTVcbiAqIFJlbW92ZSBpbm5lciBwYWRkaW5nIGFuZCBib3JkZXIgaW4gRmlyZWZveCA0Ky5cbiAqIDEuIEN1c3RvbSBhZGRpdGlvbiB0byBpbnZvbHZlIGBzZWxlY3RgIGFzIHdlbGxcbiAqL1xuc2VsZWN0OjotbW96LWZvY3VzLWlubmVyLCAvKiAxICovXG5idXR0b246Oi1tb3otZm9jdXMtaW5uZXIsXG5pbnB1dDo6LW1vei1mb2N1cy1pbm5lciB7XG4gIGJvcmRlcjogMDtcbiAgcGFkZGluZzogMDtcbn1cblxuLyoqXG4gKiBGcm9tOiBodHRwczovL2dpdGh1Yi5jb20vbmVjb2xhcy9ub3JtYWxpemUuY3NzL2Jsb2IvMmJkZGE4NDI3MjY1MGFlZGZiNDVkOGFiZTExYTZkMTc3OTMzYTgwMy9ub3JtYWxpemUuY3NzI0wzMjItTDMyNFxuICogQWRkcmVzcyBGaXJlZm94IDQrIHNldHRpbmcgYGxpbmUtaGVpZ2h0YCBvbiBgaW5wdXRgIHVzaW5nIGAhaW1wb3J0YW50YCBpblxuICogdGhlIFVBIHN0eWxlc2hlZXQuXG4gKi9cbmlucHV0IHtcbiAgbGluZS1oZWlnaHQ6IG5vcm1hbDtcbn1cblxuLyoqXG4gKiBGcm9tOiBodHRwczovL2dpdGh1Yi5jb20vbmVjb2xhcy9ub3JtYWxpemUuY3NzL2Jsb2IvMmJkZGE4NDI3MjY1MGFlZGZiNDVkOGFiZTExYTZkMTc3OTMzYTgwMy9ub3JtYWxpemUuY3NzI0wzNTYtTDM1N1xuICogMS4gQWRkcmVzcyBgYXBwZWFyYW5jZWAgc2V0IHRvIGBzZWFyY2hmaWVsZGAgaW4gU2FmYXJpIGFuZCBDaHJvbWUuXG4gKi9cbmlucHV0W3R5cGU9XCJzZWFyY2hcIl0ge1xuICAtd2Via2l0LWFwcGVhcmFuY2U6IHRleHRmaWVsZDsgLyogMSAqL1xufVxuXG4vKipcbiAqIEZyb206IGh0dHBzOi8vZ2l0aHViLmNvbS9uZWNvbGFzL25vcm1hbGl6ZS5jc3MvYmxvYi8yYmRkYTg0MjcyNjUwYWVkZmI0NWQ4YWJlMTFhNmQxNzc5MzNhODAzL25vcm1hbGl6ZS5jc3MjTDM2Ny1MMzcwXG4gKiBSZW1vdmUgaW5uZXIgcGFkZGluZyBhbmQgc2VhcmNoIGNhbmNlbCBidXR0b24gaW4gU2FmYXJpIGFuZCBDaHJvbWUgb24gT1MgWC5cbiAqIFNhZmFyaSAoYnV0IG5vdCBDaHJvbWUpIGNsaXBzIHRoZSBjYW5jZWwgYnV0dG9uIHdoZW4gdGhlIHNlYXJjaCBpbnB1dCBoYXNcbiAqIHBhZGRpbmcgKGFuZCBgdGV4dGZpZWxkYCBhcHBlYXJhbmNlKS5cbiAqL1xuaW5wdXRbdHlwZT1cInNlYXJjaFwiXTo6LXdlYmtpdC1zZWFyY2gtY2FuY2VsLWJ1dHRvbixcbmlucHV0W3R5cGU9XCJzZWFyY2hcIl06Oi13ZWJraXQtc2VhcmNoLWRlY29yYXRpb24ge1xuICAtd2Via2l0LWFwcGVhcmFuY2U6IG5vbmU7XG59XG5cbi8qKlxuICogRnJvbTogaHR0cHM6Ly9naXRodWIuY29tL25lY29sYXMvbm9ybWFsaXplLmNzcy9ibG9iLzJiZGRhODQyNzI2NTBhZWRmYjQ1ZDhhYmUxMWE2ZDE3NzkzM2E4MDMvbm9ybWFsaXplLmNzcyNMMzk2LUwzOThcbiAqIFJlbW92ZSBkZWZhdWx0IHZlcnRpY2FsIHNjcm9sbGJhciBpbiBJRSA4LzkvMTAvMTEuXG4gKi9cbnRleHRhcmVhIHtcbiAgb3ZlcmZsb3c6IGF1dG87XG59XG5cbi8qKlxuICogRnJvbTogaHR0cHM6Ly9naXRodWIuY29tL25lY29sYXMvbm9ybWFsaXplLmNzcy9ibG9iLzJiZGRhODQyNzI2NTBhZWRmYjQ1ZDhhYmUxMWE2ZDE3NzkzM2E4MDMvbm9ybWFsaXplLmNzcyNMNDE2LUw0MTlcbiAqIFJlbW92ZSBtb3N0IHNwYWNpbmcgYmV0d2VlbiB0YWJsZSBjZWxscy5cbiAqL1xudGFibGUge1xuICBib3JkZXItY29sbGFwc2U6IGNvbGxhcHNlO1xuICBib3JkZXItc3BhY2luZzogMDtcbn1cbiIsIi8vIEltcG9ydCBjb21wb25lbnQtc3BlY2lmaWMgdmFyaWFibGVzXG5AaW1wb3J0ICd1dGlsaXRpZXMvdmFyaWFibGVzJztcblxuLm15LWNvbXBvbmVudCB7XG4gIGNvbG9yOiAjZjAwO1xuXG4gIC8vIFVzZSB0aGUgYHJlc3BvbmQtdG9gIG1peGluIHRvIHVzZSBhIGdsb2JhbCBicmVha3BvaW50XG4gIEBpbmNsdWRlIHJlc3BvbmQtdG8oJ3NtYWxsJykge1xuICAgIGNvbG9yOiAjZjBmO1xuICB9XG5cbiAgLy8gVXNlIHRoZSBgcmVzcG9uZC10b2AgbWl4aW4gdG8gdXNlIGEgY29tcG9uZW50LXNwZWNpZmljIGJyZWFrcG9pbnRcbiAgQGluY2x1ZGUgcmVzcG9uZC10bygobWluLWhlaWdodDogNTAwcHgpKSB7XG4gICAgaGVpZ2h0OiA1NTBweDtcbiAgfVxufVxuXG5ib2R5IHtcbiAgYmFja2dyb3VuZDogeWVsbG93O1xufVxuIiwiLy8gLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS1cbi8vIFRoaXMgZmlsZSBjb250YWlucyBhbGwgYXBwbGljYXRpb24td2lkZSBTYXNzIG1peGlucy5cbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG5cblxuLy8vIEJyZWFrcG9pbnQgbWFuYWdlclxuLy8vIFByaW50cyBvdXQgYSBgQG1lZGlhYCBibG9jayBiYXNlZCBvbiB0aGUgZ2l2ZW4gdmFsdWUuIElmIHRoZSB2YWx1ZSBpcyBhIG1hcCxcbi8vLyBpdCB3aWxsIGJlIHByaW50ZWQgYXMgaXMuIElmIHRoZSB2YWx1ZSBpcyBhIHN0cmluZywgaXQgd2lsbCBiZSB1c2VkIGFzIGFcbi8vLyBrZXkgZnJvbSB0aGUgYCRicmVha3BvaW50c2AgbWFwLlxuLy8vIEBwYXJhbSB7TWFwIHwgU3RyaW5nfSAkYnJlYWtwb2ludCAtIEJyZWFrcG9pbnQgb3IgYnJlYWtwb2ludCBuYW1lXG4vLy8gQGV4YW1wbGUgc2Nzc1xuLy8vICAgLmZvbyB7XG4vLy8gICAgIGNvbG9yOiByZWQ7XG4vLy9cbi8vLyAgICAgQGluY2x1ZGUgcmVzcG9uZC10bygnc21hbGwnKSB7XG4vLy8gICAgICAgY29sb3I6IGJsdWU7XG4vLy8gICAgIH1cbi8vL1xuLy8vICAgICBAaW5jbHVkZSByZXNwb25kLXRvKChtaW4taGVpZ2h0OiA1MDBweCkpIHtcbi8vLyAgICAgICBoZWlnaHQ6IDU1MHB4O1xuLy8vICAgICB9XG4vLy8gICB9XG5AbWl4aW4gcmVzcG9uZC10bygkYnJlYWtwb2ludCkge1xuICBAaWYgdHlwZS1vZigkYnJlYWtwb2ludCkgPT0gJ3N0cmluZycge1xuICAgICRicmVha3BvaW50OiBtYXAtZ2V0KCRicmVha3BvaW50cywgJGJyZWFrcG9pbnQpO1xuICB9XG5cbiAgQGlmIG5vdCAkYnJlYWtwb2ludCB7XG4gICAgQGVycm9yICdJbnZhbGlkIHF1ZXJ5IGAje2luc3BlY3QoJGJyZWFrcG9pbnQpfWAgZm9yIGBAbWVkaWFgLic7XG4gIH1cblxuICBAbWVkaWEgI3tpbnNwZWN0KCRicmVha3BvaW50KX0ge1xuICAgIEBjb250ZW50O1xuICB9XG59XG4iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */