<!DOCTYPE html>
<html lang="de-ch" class="no-touch">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ title | default('AZ') }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# Inline the JavaScript utilities file since it needs to be synchronously
       loaded. Also, it is very lightweight so it should not make any difference. #}
    <script>
      {% include "client/scripts/webfont-loading.js" %}
    </script>

    {# Tracking has to be loaded synchronously here. #}
    <script src="/client/tracking.bundled.js"></script>

    {# Asynchronously request the font-face stylesheet based on the WOFF support,
       then store it in localStorage for future visits. #}
    <script>
      (function (global) {
        global.loadFont(
          // Font storage name
          'az-fonts',
          // WOFF URL
          '/client/fonts/data-woff.css',
          // WOFF2 URL
          '/client/fonts/data-woff2.css'
        );
      })(window);
    </script>
    <link rel="stylesheet" href="/client/styles.css" />
    {% block head %}{% endblock %}
  </head>

  <body class="styleguide-body">
    {# @TODO: Move to external file.
       NetMetrix PageView tracking. #}
    <script>
      if (typeof window.AZTracker !== 'undefined' && window.AZTracker.trackPageView) {
        window.AZTracker.trackPageView({
          domain: 'aznetz',
          path: {
            product: 'live',

            // exclude as it is already contained in url path
            // sitename: 'styleguide',

            // component name event tracking, "page" or "empty" for pageview tracking
            // @TODO: adjust in concept
            // view: 'page',

            path: window.location.pathname,
            event: 'pageview',
            id: null,
            index: null
          },
          referer: document.referer,
          screenWidth: screen.width,
          screenHeight: screen.height
        });
      }
    </script>

    <div id="app" class="wrapper">{% block content %}{% endblock %}</div>
    <script src="/client/styleguide.bundled.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
