<!DOCTYPE html>
<html lang="de-ch">
  <head>
    <title>{% block title %}{{ title | default('AZ') }}{% endblock %}</title>
    {% include "app/includes/__head_shared.html" %}

    <script>
      (function (global) {
        global.loadFont(
          // Font storage name
          'az-fonts',
          // WOFF URL
          '{{ staticBasePath }}/fonts/data-woff.css',
          // WOFF2 URL
          '{{ staticBasePath }}/fonts/data-woff2.css'
        );
      })(window);
    </script>

    <link rel="stylesheet" href="{{ staticBasePath }}/styles/client.css" />
    <link rel="stylesheet" href="{{ staticBasePath }}/styles/styleguide.css" />
  </head>
  <body class="styleguide-body">
    <div id="app" class="wrapper">{{ content }}</div>
    <script src="{{ staticBasePath }}/styleguide.bundled.js"></script>
    <script src="{{ staticBasePath }}/components.bundled.js"></script>
    <script src="{{ staticBasePath }}/scripts/vendor/prism.min.js"></script>
  </body>
</html>
