<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ staticBasePath }}/client/styles.css" />

<link rel="apple-touch-icon" sizes="57x57" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/{{ skin }}/manifest.json">
<link rel="shortcut icon" href="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/favicon.ico">
<meta name="msapplication-TileColor" content="{{ "#e30613" if skin == "ot" else "#1b4d85" }}">
<meta name="msapplication-TileImage" content="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/mstile-144x144.png">
<meta name="msapplication-config" content="{{ staticBasePath }}/client/images/device-icons/{{ iconPath }}/{{ skin }}/browserconfig.xml">
<meta name="theme-color" content="{{ "#e30613" if skin == "ot" else "#1b4d85" }}">

{# Inline the JavaScript utilities file since it needs to be synchronously
   loaded. Also, it is very lightweight so it should not make any difference. #}
<script>
  {% include "client/scripts/webfont-loading.js" %}
</script>

{# Asynchronously request the font-face stylesheet based on the WOFF support,
    then store it in localStorage for future visits. #}
<script>
  (function (global) {
    global.loadFont(
      // Font storage name
      'az-fonts',
      // WOFF URL
      '{{ staticBasePath }}/client/fonts/data-woff.css',
      // WOFF2 URL
      '{{ staticBasePath }}/client/fonts/data-woff2.css'
    );
  })(window);
</script>
<script>
  (function (global) {
    var az;
    global.az = global.az || {};
    az = global.az;
    az.globals = {
      'kaltura_frontend_video_player_id': {{kaltura_frontend_video_player_id}},
      'kaltura_frontend_adless_video_player_id': {{kaltura_frontend_adless_video_player_id}},
      'kaltura_mediathek_video_player_id': {{kaltura_mediathek_video_player_id}},
      'kaltura_mediathek_category_id': {{kaltura_mediathek_category_id}}
    };
  })(window);
</script>

<script src="http://aka-cdn-ns.adtech.de/dt/common/DAC.js"></script>

{% if withAds -%}
<!--# include virtual="{{ staticBasePath }}/client/includes/advertising/{{ skin }}_{{ pageType }}.html" -->
{%- endif %}
